@font-face {
    font-family: "source sans serif";
    src: url("SourceSansPro-Regular.ttf") format("truetype");
}

body {
    padding: 0;
    margin: 0;
    background-color: #252525;
    color: white;
    font-family: source sans serif;
    caret-color: white !important;
    overflow-x: hidden;
}

input,
textarea {
    background: none;
    all: unset;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    word-break: break-word;
    overflow-y: hidden;
}


/* span {
    width: 100%;
    box-sizing: border-box;
    border: none !important;
} */

.ueberschrift {
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    margin-bottom: 0.75em;
    margin-top: 0.3em;
}

canvas{
    touch-action: none;
    background: white;
}
.resizeable{
    resize: both;
    overflow:auto;
    width: 100vw;
    height:500px;
}

.paint_btn {
	width: 10px;
	height: 10px;
	color: black;
	position: absolute;
	z-index: 999;
	border: solid 1px black;
    border: solid 1px black;
    margin-top: 0px;
    border-radius: 5px;
}